.page{
  width: 1200px;
  height: auto;
  margin: 75px auto 55px;
}

.ribbon {
    background: #fff;
    box-shadow: 0 0 10px 0 #dbdbdb;
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

.content {
    margin: 0 auto;
    width: 980px;
}

.h-title {
  font-size: 20px;
  float: left;
  text-align: right;
  margin: 15px 0;
}

.h-img {
    background-image: url(../img/logo.png);
}

.my-card{
  width: 590px;
  height: 100px;
}

.my-right{
  float: right;
}

.my-left{
  float:left;
}
